<div class="container">
  <h2>Employee Details</h2>
  <div *ngIf="employee">
    <p><strong>ID:</strong> {{ employee.id }}</p>
    <p><strong>First Name:</strong> {{ employee.first_name }}</p>
    <p><strong>Last Name:</strong> {{ employee.last_name }}</p>
    <p><strong>Email:</strong> {{ employee.email }}</p>
  </div>

  <div *ngIf="employee">
    <a routerLink="/view-employees" class="btn btn-primary mb-2"
      >View Employees</a
    >
    <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">
      Delete
    </button>
    <a [routerLink]="['/update-employee', employee.id]" class="btn btn-warning">
      Update
    </a>
  </div>
</div>
