<div class="container">
  <h2>Add Employee</h2>
  <a routerLink="/view-employees" class="btn btn-primary mb-2"
    >View Employees</a
  >
  <form (submit)="addEmployee()">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input
        type="text"
        id="first_name"
        class="form-control"
        [(ngModel)]="newEmployee.first_name"
        name="first_name"
        required
      />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input
        type="text"
        id="last_name"
        class="form-control"
        [(ngModel)]="newEmployee.last_name"
        name="last_name"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="newEmployee.email"
        name="email"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Employee</button>
  </form>
</div>
