/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

a {
  margin: 5px;
}

input {
  padding: 50px;
}

button {
  margin-top: 10px;
}
