/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

a {
  margin: 5px;
}

input {
  padding: 50px;
}

.btn {
  margin-top: 20px;
}

.container {
  margin: 30px 100px;
  padding: 50px;
}
