<div class="body">
  <h1>Welcome to the Event Management App</h1>
  <br />
  <hr />
  <br />
  <h2>Overview</h2>
  <p>
    The Event Management App is a powerful tool designed to streamline your
    organization's administrative tasks related to employee management. This
    application allows administrators to efficiently view, add, update, and
    delete employee details, all within a user-friendly interface.
  </p>
  <br />
  <hr />
  <br />
  <h2>How It Works</h2>
  <br />
  <ol>
    <li>
      <strong>Login:</strong> Upon successful login, administrators gain access
      to the dashboard.
    </li>
    <li>
      <strong>Dashboard:</strong> The dashboard provides quick links to
      different sections of the app. You can navigate to the "Home" page for an
      overview, the "Employees" page to manage employee data, and more.
    </li>
    <li>
      <strong>View Employees:</strong> In the "Employees" section,
      administrators can view a comprehensive list of employees. This list
      provides essential details for each employee, including their ID, first
      name, last name, and email.
    </li>
    <li>
      <strong>Add Employee:</strong> Easily add new employees to the system.
      Just provide the employee's first name, last name, and email, and the app
      will save the details for future reference.
    </li>
    <li>
      <strong>Employee Details:</strong> Clicking on an employee's record takes
      you to their detailed profile. Here, you can find additional information
      and get a closer look at individual employee data.
    </li>
    <li>
      <strong>Update and Delete:</strong> Administrators can update employee
      information whenever changes occur. Additionally, you have the option to
      remove an employee's record if they are no longer part of the
      organization.
    </li>
  </ol>
</div>
